<div class="conatiner justify-content-start p-2">
  <div class="row m-2">
    <div class="col-2">
      <h1>Artbnb</h1>
    </div>
    <div class="col-8">
      <p class="text-center p-2">Short-term hire of fabulous art</p>
    </div>
    <div class="col-2 create-button text-center">
      <%= link_to "Add artwork for hire", new_artwork_path, class: "btn"%>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @artworks.each do |artwork| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="card-product flex-container space-between m-3 p-3">
          <%= link_to "", artwork_path(artwork), class: "card-link"%>
          <img src="https://source.unsplash.com/random"/>
            <div class="card-product-infos">
              <h2> <%= artwork.name %> </h2>
              <p><i class="fas fa-user-alt"></i> <%= artwork.artist_name %></p>
              <p><i class="fas fa-pound-sign"></i> <%= artwork.price_per_day %> per day</p>
              <p><i class="fas fa-compass"></i> <%= artwork.location %></p>
            </div>
           <%= link_to "Book", new_artwork_booking_path(artwork), class: "create-button p-1" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
