<h1><%= @artwork.name %></h1>
<ul>
    <li>artist_name: <%=@artwork.artist_name%><li>
    <li>description: <%=@artwork.description%><li>
    <li>location: <%=@artwork.location%><li>
    <li>price_per_day: <%=@artwork.price_per_day%><li>
</ul>

<%= link_to 'Back', root_path %>