<div class="container-show">
    <h1><strong><%= @artwork.name %></strong></h1>
  </div>
    <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'airbnb'%>)">
    </div>
      <div class="description">
    <ul>
    <li><strong>Artist name:</strong> <%=@artwork.artist_name%></li>
    <li><strong>Description:</strong> <%=@artwork.description%></li>
    <li><strong>Location: </strong><%=@artwork.location%></li>
    <li><strong>Price per day: </strong><%=@artwork.price_per_day%> £</li>
   </ul>
<%= link_to 'Back', root_path, class: "class: btn btn-warning" %>
<%= link_to 'Request a booking', root_path, class: "class: btn btn-danger" %>
</div>
</div>
