<div class="container">
  <div class="row just">
    <div class="col-6">
     <h1><strong><%= @artwork.name.capitalize %></strong></h1>
      <% if @artwork.photo.attached? %>
          <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @artwork.photo.key, height: 250, width: 250, crop: :fill  %>)"></div>
         <% end %>

        <!-- <div class="flex-container"> -->
            <p><i class="fas fa-user-alt"></i> <%=@artwork.artist_name.capitalize%></p>
            <p><i class="far fa-address-card"> </i> <%=@artwork.description.capitalize%></p>
            <p><i class="fas fa-compass"></i> <%=@artwork.location.capitalize%></p>
            <p><i class="fas fa-pound-sign"></i> <%=@artwork.price_per_day%></p>
        <!-- </div> -->
    </div>
  </div>


    <div class="col-6">
      <div class="bd-highlight align-self-center border p-3 bg-light">
      <%= simple_form_for Booking.new, url: artwork_bookings_path(@artwork),
        method: :post,
        wrapper_mappings: {
        boolean: :inline_boolean
        } do |f| %>
        <%= f.input :time_start, label: "Pick-up",  as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :time_end, label: "Drop-off", as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.button :submit, class: "btn-primary mb-2" %>
      <% end %>

      <span id="daily-price" style="display:none"><%= @artwork.price_per_day %></span>
      <p>Estimated Price: £<span id="full-price"></span></p>
    </div>
  </div>
</div>

<div class="left-button">
  <%= link_to '🔙', root_path, class: "class: btn btn-ligth" %>
</div>




    <div class="col-6">
      <div id="map"
     class="container"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>