<div class="container-show">
  <h1><strong><%= @artwork.name %></strong></h1>
</div>

  <% if @artwork.photo.attached? %>
    <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @artwork.photo.key, height: 250, width: 250, crop: :fill  %>)">
  <% end %>


</div>

<div class="description">
  <ul>
    <li><strong>Artist name:</strong> <%=@artwork.artist_name%></li>
    <li><strong>Description:</strong> <%=@artwork.description%></li>
    <li><strong>Location: </strong><%=@artwork.location%></li>
    <li><strong>Price per day: </strong><%=@artwork.price_per_day%> £</li>
  </ul>
  <%= link_to 'Back', root_path, class: "class: btn btn-warning" %>
  <%= link_to 'Request a booking', new_artwork_booking_path(@artwork), class: "class: btn btn-danger" %>
</div>

<% @bookings.each do |booking|  %>
<li> user: <%= booking.user.first_name %> <%= booking.user.last_name %> <%= link_to "Accept", booking_path(booking, status: "Accepted"), method: :patch %> <%= link_to "Decline", booking_path(booking, status: "Declined"), method: :patch %>
<% end %>
<!-- <%= link_to 'Back', root_path %> -->
<%# , time_start: booking.time_start, time_end: booking.time_end, calculated_price: booking.calculated_price %>
