<div class="d-flex flex-row m-5">
    <div class="flex-grow-1">
        <div class="container-show">
          <h1><strong><%= @artwork.name %></strong></h1>
        </div>

        <% if @artwork.photo.attached? %>
          <div class="image" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path @artwork.photo.key, height: 250, width: 250, crop: :fill  %>)"></div>
         <% end %>

        <div class="description">
          <ul>
            <li><strong>Artist name:</strong> <%=@artwork.artist_name%></li>
            <li><strong>Description:</strong> <%=@artwork.description%></li>
            <li><strong>Location: </strong><%=@artwork.location%></li>
            <li><strong>Price per day: </strong><%=@artwork.price_per_day%> £</li>
          </ul>
          <%= link_to 'Back', root_path, class: "class: btn btn-warning" %>
          <%# <%= link_to 'Request a booking', new_artwork_booking_path(@artwork), class: "class: btn btn-danger" %>
        </div>
    </div>

    <div class="w-25 bd-highlight align-self-center border p-3 bg-light">

      <%= simple_form_for Booking.new, url: artwork_bookings_path(@artwork),
        method: :post,
        wrapper_mappings: {
        boolean: :inline_boolean
        } do |f| %>
        <%= f.input :time_start, label: "Pick-up",  as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.input :time_end, label: "Drop-off", as: :string, required: true, input_html: {class: "datepicker"} %>
        <%= f.button :submit, class: "btn-primary mb-2" %>
      <% end %>

      <span id="daily-price" style="display:none"><%= @artwork.price_per_day %></span>
      <p>Estimated Price: £<span id="full-price"></span></p>
    </div>
</div>

<div class="container">

<div id="map"
     class="container"
     style="width: 600px; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
