<%= simple_form_for([@artwork,@booking]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <%= f.input :time_start %>
  <%= f.input :time_end%>
  <%= f.submit %>
<% end %>

<form>
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="time_start">Start Date</label>
      <input type="date" class="form-control mb-2" id="time_start">
    </div>
    <div class="col-auto">
      <label class="sr-only" for="time_end">End Date</label>
      <input type="date" class="form-control" id="time_end">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </div>
  </div>
</form>