<!DOCTYPE html>
<html>
  <head>
    <title>RailsArtbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <div class="nav-bar">
      <div class="container logo">
        <h2>Logo</h2>
      </div>
    </div>
    <%= render 'shared/navbar' %>
    <%= yield %>
  </body>
</html>
